{% extends 'base.html.twig' %}

{% block title %}Hello AddCompetenceController!{% endblock %}

{% block body %}

    <div class="col-span-full">

        {{ include('add_competence/_form.html.twig') }}

        {% if app.user.userHasCompetences %}
        <div class=" border rounded-2xl shadow-2xl text-gray-300 bg-gray-900 mt-4">
            <h2 class="font-bold text-2xl text-center">Mes compétences : </h2>
            <ul class="grid grid-cols-4 gap-4 p-2 ">
                {% for competence in app.user.userHasCompetences %}
                    <li class="border rounded-2xl shadow-2xl p-2 bg-gray-700 flex flex-col">
                        <div>
                            <h2 class="text-center font-bold mb-2">{{ competence }}</h2>
                            <p>
                                Maitrise : {% if competence.maitrise ==0 %}Débutant{% elseif competence.maitrise ==1 %}Intermédiaire{% else %}Avancé{% endif %}
                            </p>
                            <p>
                                Volonté d'approfondir : {% if competence.isLiked ==true %}Oui{% else %}Non{% endif %}
                            </p>
                        </div>
                        <a href="{{ path('edit_competence', {'id': competence.id}) }}">Modifier</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% endif %}
    </div>

{% endblock %}
