{% extends 'base.html.twig' %}

{% block title %}Hello DocumentController!{% endblock %}

{% block body %}

    <div class="col-span-full grid grid-cols-12">
        {{ include('document/_formDocument.html.twig') }}
        {{ include('document/_formPhoto.html.twig') }}
    </div>

{% endblock %}
